*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
html {
    scroll-behavior: smooth;
  }

/* //Desktop Nav Bar CSS//*/

nav{
    width: 100%;
    height: 3.7vw;
    background-color:rgba(0, 0, 0, 0.884);
    box-shadow: 0px 3.5px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 20;
    
}
nav a{
    float: right;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    padding: 1vw 4vw;
    text-decoration: none;
    border-radius:10px;
}
nav img{
    margin-top: -8%;
    width: 21vw;

}
.dropdown {
    float:right;
    overflow: hidden;
}
.dropdown .dropbtn { 
    font-size: 1.5vw;
    border: none;
    outline: none;
    color: white;
    padding: 1vw 4vw;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius:10px;
  }
  nav a:hover, .dropdown:hover .dropbtn{
    background-color:#641468;
    
 }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f808c9f3;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 10px;
    
      }
      
      .dropdown-content a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: Left;
      }
      .dropdown-content a:hover {
        background-color: #15151524;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }

      .Mobilenav{
        display: none;
    }

    
    /* //PAGE SECTIONS and Media Query CSS//*/  
    
 section{
     min-height:100vh;
     display: flex;
     background: radial-gradient( #641468, black);
 }

 section:hover{
    background: radial-gradient( #9c017df3, black);
 }
      
/*// Media query 1//*/
 @media screen and (max-width:720px){
     section{
      min-height:177vw;
      display: grid;
      }
      /*Nav responsive*/
      nav{
        width: 100%;
        height: 16vw;
        background-color:rgba(0, 0, 0, 0.884);
        box-shadow: 0px 3.5px 10px rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 20;
    
    }
    nav a{
        display: none;
    }
    .dropdown .dropbtn { 
     display: none;
      }

      nav img{
    width: 65vw;
    margin-left: 18%;
    margin-top: -22%;
    
    }
    /*Header Pages responsive*/

   div.homeP{
    margin-top: 10%;
    margin-left: 0%;
    height: 117vw;
     }

   div.threeDP{
    margin-top: 20%;
    margin-left: 1%;
    height: 117vw;

   }


   div.twoDP{
    margin-top: 30%;
    margin-left: 0%;
    height: 117vw;
   }

   div.illustrationP{
    margin-top: 26%;
    margin-left: 14%;
    width: 73vw;
    height: 117vw;
   }

   div.aboutP{

    margin-top: 15%;
    margin-left: 19%;
    width: 63vw;
    height: 80vw;

   }

   aside.aboutMe{
    background-color: black;
    width: 91vw;
    height: 77vw;
    margin-top: 2%;

}
div.homeP img{
    width: 100vw;
}

   div.threeDP img{
    width: 95vw;
}

div.twoDP img{

    width: 95vw;
}

div.illustrationP img{

    width: 95vw;
    height: 100vw;
}

div.homeP h1{
 
    
    font-size: 9vw;
}

div.threeDP h1{

    font-size: 17vw;
    margin-top: 45%;
    margin-left: 0%;
   
}

div.twoDP h1{
   

    font-size: 14vw;

}

div.illustrationP h1{


    font-size: 12vw;
    margin-top: -152%;
}

div.aboutP h1{
    
    font-size: 9vw;
}
h1.aboutmeHeader{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 6vw;
    text-align: center;
    
}

p.aboutmePa{

    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 2% 2% 2% 2%;
    font-size: 3.5vw;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;

}

/*Content pages responsive*/

div.threeDVid video{
    margin-top: 15%;
    margin-left: 0%;
    width: 100vw;

}

h1.chucksH{
    color: white;
    font-size: 14vw;
    margin-left: 15%;
    margin-top: 28%;
}
figcaption.chucksC{
    color: white;
    font-size: 7vw;
    margin-left: 22%;
    margin-top: 20%;
}
h1.BuggH{
    color: white;
    font-size: 14vw;
    margin-left: 31%;
    margin-top: 28%;
}

figcaption.buggC{
    color: white;
    font-size: 7vw;
    margin-left: 18%;
    margin-top: 20%;
}
h1.wapH{
    color: white;
    font-size: 14vw;
    margin-left: 37%;
    margin-top: 28%
}
figcaption.wapC{
    color: white;
    font-size: 7vw;
    margin-left: 20%;
    margin-top: 20%;
}


div.twoDVid video{
    margin-top: 15%;
    margin-left: 0%;
    width: 100vw;
}


h1.gumH{
    color: white;
    font-size: 14vw;
    margin-left: 23%;
    margin-top: 28%;
}
figcaption.gumC{
    color: white;
    font-size: 7vw;
    margin-left: 20%;
    margin-top: 20%
}

h1.larryH{
    
    color: white;
    font-size: 14vw;
    margin-left: 13%;
    margin-top: 28%;

}
figcaption.larryC{
    color: white;
    font-size: 7vw;
    margin-left: 24%;
    margin-top: 20%;

}

div#Illuspic1 img{
        margin-left: 0rem;
        width: 100%;
        height: 107vw;
    

 }

div#Illuspic2 img{
    margin-left: 0rem;
    height: 123vw;
    width: 100%;
 }

   /* Mobile Menu*/
   #menu{
	width: 6vw;
    margin-left: 88%;
    margin-top: 7%;
    position: fixed;
    z-index: 20;

    
}
.bar{
	height: 5px;
	width: 100%;
	background-color: white;
	display: block;
	border-radius: 5px;
    transition: 0.3s ease;
    z-index: 20;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}

.Mobilenav li a{
	color:white;
    text-decoration: none;
    border-radius: 10px;
    
}

.Mobilenav li a:hover{
    background-color: #f808c9f3;
     }

.Mobilenav li{
	list-style: none;
	padding: 12vw 0;
}

.Mobilenav{
	transition: 0.3s ease;
    position: fixed;
    margin-left: 81%;
    margin-top: 15%;
    background-color: black;
    width: 19vw;
    height: 146vw;
    text-align: center;
    border-radius: 10px;
    z-index: 20;
}

.change .bar{
	background-color: red;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}

/* Blog Pages responsive*/

section.BlogPage{
    
    margin-top: 2%;
    margin-left: 4%;
    width: 93vw;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    height: initial;
    
}

  .mBlogP{
    
        margin-left: 10%;
        width: 92vw;
        height: inherit;
        flex-direction: column;
    
}
.mBlogP li{
    margin-top: -6%;
}

.mBlogP a{
    display: block;
    background-color: #f808c9f3;
    font-size: 5.5vw;
    color: white;
    text-align: center;
    padding: 5vw 0vw;
    text-decoration: none;
    border-radius: 68px;
    width: 86%;
    height: 4rem;
    margin-top: 2%;
}

.mBlogH{

    color: rgb(255, 255, 255);
    margin-top: 20%;
    margin-left:-13%;
    font-size: 9vw;
    text-align: center;

}


 h1.blogHeader {
    color: rgb(255, 255, 255);
    margin-top: 19%;
    font-size: 6vw;
    text-align: center;
}

p.blogPa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 3.5vw;

}

h2.blogHeader2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}


/*Wire Frame and Style guide*/
.wFramePics{

    width: 100%;
    height: initial;
    display: block;
}
.wFramePics img{
    width: 80vw;
    margin-top: 2%;
    margin-left: 9%;
}
.wFramePics h1{
    color: white;
    font-size: 6vw;
    text-align: center;
    margin-top: 4%;
}


}
    /* //End of Media query 1//*/



.homeP{
    margin-top: 5%;
    margin-left: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

 .threeDP{
    margin-top: 6%;
    margin-left: -2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  
}
.twoDP{
    margin-top: 1%;
    margin-left: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  

}
.illustrationP{
    margin-top: 5%;
    margin-left: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    background-color: #109b00;
    
}
.aboutP{
    
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 40vw;
    background-color: #ff3dbe;
    margin-top: 10%;
    margin-left: 1%;
    
    
}
.aboutMe{
    background-color: black;
    width: 65vw;
    height: 61vw;
    margin: 3%

}

.BlogPage{
    
    margin-top: 6%;
    margin-left: 12%;
    width: 76vw;
    height: inherit;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    
}



  /* //PAGE HEADINGS CSS//*/

.homeP h1{
 
    color: white;
    font-size: 9vw;
    font-family: 'Anton', sans-serif;
    z-index: 4;

}
.threeDP h1{

    color: white;
    font-size: 9vw;
    margin-left: 4%;
    font-family: 'Anton', sans-serif;
    position: absolute;
   
}
.twoDP h1{
   
    color:red;
    font-size: 9vw;
    margin-top: 0%;
    font-family: 'Anton', sans-serif;
    position: absolute;
}
.illustrationP h1{

    color: white;
    font-size: 9vw;
    margin-top: -115%;
    font-family: 'Anton', sans-serif;
}
.aboutP h1{
    
    color: white;
    font-size: 6vw;
    margin-top: -156%;
    font-family: 'Anton', sans-serif;
}

.aboutmeHeader{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
    
}

.aboutmePa{

    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 2% 2% 2% 2%;
    font-size: 1.5vw;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;

}

/* //HEADER PAGE IMAGES CSS//*/
.homeP img{
    width: 60vw;
    position: absolute;
}
 
.threeDP img{
    transition: transform .2s;
    width: 36vw;
    
}

.threeDP img:hover{
    transform: scale(1.1);
}


.twoDP img{
    transition: transform .2s;
    width: 46vw;
}

.twoDP img:hover{
    transform: scale(1.1);
}



.illustrationP img{

    width: 110%;
    height: 110%;
}


.aboutP img{
    
    width: 100%;
  
}
/* //PAGE CONTENT CSS//*/

/*3D text*/
.threeDVid video{
    margin-top: 14%;
    margin-left: 32%;
    width: 57vw;
    border-radius: 67px;
}
 

.chucksH{
    color: white;
    font-size: 4vw;
    margin-left: 40%;
    margin-top: 3%;
    position: absolute;
    font-family: 'Mirza', cursive;
}
.chucksC{
    color: white;
    font-size: 2vw;
    margin-left: 44%;
    margin-top: 3%;
    text-align: center;

}

.BuggH{
    color: white;
    font-size: 4vw;
    margin-left: 41%;
    margin-top: 3%;
    position: absolute;
    font-family: 'Mirza', cursive;
}

.buggC{
    color: white;
    font-size: 2vw;
    margin-left: 60%;
    margin-top: 3%;
    text-align: center;
}
.wapH{
     color: white;
    font-size: 4vw;
    margin-left: 43%;
    margin-top: 3%;
    position: absolute;
    font-family: 'Mirza', cursive;
}
.wapC{
    color: white;
    font-size: 2vw;
    margin-left: 60%;
    margin-top: 3%;
    text-align: center;
}



/*2D text*/
.twoDVid video{
    margin-top: 0%;
    margin-left: 20%;
    width: 57vw;
    border-radius: 67px;
 
}

.gumH{
    color: white;
    font-size: 4vw;
    margin-left: 45%;
    margin-top: 5%;
    font-family: 'Mirza', cursive;
}
.gumC{
    color: white;
    font-size: 2vw;
    margin-left: 6%;
    margin-top: 1%;
    text-align: center;
}


.larryH{
    
    color: white;
    font-size: 4vw;
    margin-left: 40%;
    margin-top: 5%;
    font-family: 'Mirza', cursive;

}
.larryC{
    color: white;
    font-size: 2vw;
    margin-left: 6%;
    margin-top: 1%;
    text-align: center;

}


/*Illustration*/


.column {
    margin-top: 5%;
    float: left;
   padding: 2.2vw;
}

/* Style the images inside the grid */
.column img {
 transition: transform .2s;
   cursor: pointer;
   width: 20vw;
   height: 30vw;

 
}

.column img:hover {
  transform: scale(1.1);
}

/* Clear floats after the columns */
.row:after {
 content: "";
 display: table;
 clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
   position: sticky;
   margin-left: -75%;
   margin-top: 0%;
   width: 50vw;
   height: 45vw;
   background-color: #000000e3;
   z-index: 5;
   display: none;
}

#expandedImg{
   width: 30vw;
   height: 40vw;
   margin-left: 22%;
   margin-top: 4%;
}



/* Expanding image text */
#imgtext {
  position: absolute;
   bottom: 1%;
   margin-left: 36%;
   color: white;
   font-size: 2.5vw;
}
/* Closable button inside the image */
.closebtn {
   position: absolute;
   margin-top: -2%;
   margin-left: 89%;
   color: #fa0000;
   font-size: 6vw;
   cursor: pointer;
}


/* //BLOG PAGES content CSS//*/
.blogHeader{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}

.blogPa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 1.5vw;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;

}

.blogHeader2{
  color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 2vw;
    text-align: center;
}


.wFramePics{
margin-top: 2%;
    width: 100%;
    height: initial;
    display: block;
}
.wFramePics img{
    width: 80vw;
    margin-top: 2%;
    margin-left: 9%;
}
.wFramePics h1{
    color: white;
    font-size: 4vw;
    text-align: center;
    margin-top: 2%;
}

#myTbtn {
    display: none;
    position: fixed;
    bottom: 2vw;
    right: 3vw;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 2vw;
    border-radius: 27px;
  }
  
  #myTbtn:hover {
    background-color: #555;
  }