*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
}
html {
    scroll-behavior: smooth;
  }

/* //Desktop Nav Bar CSS//*/

nav{
    width: 100%;
    height: 3.7vw;
    background-color:rgba(0, 0, 0, 0.884);
    box-shadow: 0px 3.5px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    
}
nav a{
    float: right;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    padding: 1vw 4vw;
    text-decoration: none;
    border-radius:10px;
}
nav img{
    margin-top: -8%;
    width: 21vw;

}
.dropdown {
    float:right;
    overflow: hidden;
}
.dropdown .dropbtn { 
    font-size: 1.5vw;
    border: none;
    outline: none;
    color: white;
    padding: 1vw 4vw;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius:10px;
  }
  nav a:hover, .dropdown:hover .dropbtn{
    background-color:#641468;
    
 }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f808c9f3;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 10px;
    
      }
      
      .dropdown-content a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: Left;
      }
      .dropdown-content a:hover {
        background-color: #15151524;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }

      .Mobilenav{
        display: none;
    }

    
    /* //PAGE SECTIONS and Media Query CSS//*/  
    
 section{
     min-height:55vw;
     display: flex;    
 }
      
/*// Media query 1//*/
 @media screen and (max-width:720px){
     section{
      min-height:177vw;
      display: grid;
      }
      /*Nav responsive*/
      nav{
        width: 100%;
        height: 16vw;
        background-color:rgba(0, 0, 0, 0.884);
        box-shadow: 0px 3.5px 10px rgba(0, 0, 0, 0.5);
        position: fixed;
    }
    nav a{
        display: none;
    }
    .dropdown .dropbtn { 
     display: none;
      }

      nav img{
    width: 65vw;
    margin-left: 18%;
    margin-top: -22%;
    
    }
    /*Header Pages responsive*/

   div.homeP{
    margin-top: 26%;
    margin-left: 14%;
    width: 73vw;
    height: 117vw;
     }

   div.threeDP{
    margin-top: 26%;
    margin-left: 13%;
    width: 73vw;
    height: 117vw;

   }


   div.twoDP{
    margin-top: 26%;
    margin-left: 14%;
    width: 73vw;
    height: 117vw;
   }

   div.illustrationP{
    margin-top: 26%;
    margin-left: 14%;
    width: 73vw;
    height: 117vw;
   }

   div.aboutP{

    margin-top: 26%;
    margin-left: 14%;
    width: 63vw;
    height: 117vw;

   }

   div.threeDP img{

    width: 95vw;
    height: 100vw;
}

div.twoDP img{

    width: 95vw;
    height: 100vw;
}

div.illustrationP img{

    width: 95vw;
    height: 100vw;
}

div.homeP h1{
 
    
    font-size: 9vw;
}

div.threeDP h1{

      font-size: 14vw;
    margin-top: -180%;

   
}

div.twoDP h1{
   

    font-size: 14vw;
    margin-top: -161%;
}

div.illustrationP h1{


    font-size: 12vw;
    margin-top: -152%;
}

div.aboutP h1{
    
    font-size: 9vw;
    margin-top: -170%;
}

/*Content pages responsive*/

div.threeDVid video{
    margin-top: 15%;
    margin-left: 0%;
    width: 100vw;

}

h1.chucksH{
    color: white;
    font-size: 11vw;
    margin-left: 15%;
    margin-top: 28%;
}
figcaption.chucksC{
    color: white;
    font-size: 7vw;
    margin-left: 22%;
    margin-top: 20%;
}
h1.BuggH{
    color: white;
    font-size: 11vw;
    margin-left: 31%;
    margin-top: 28%;
}

figcaption.buggC{
    color: white;
    font-size: 7vw;
    margin-left: 28%;
    margin-top: 20%;
}
h1.wapH{
    color: white;
    font-size: 11vw;
    margin-left: 37%;
    margin-top: 28%
}
figcaption.wapC{
    color: white;
    font-size: 7vw;
    margin-left: 30%;
    margin-top: 20%;
}


div.twoDVid video{
    margin-top: 15%;
    margin-left: 0%;
    width: 100vw;
}


h1.gumH{
    color: white;
    font-size: 11vw;
    margin-left: 23%;
    margin-top: 28%;
}
figcaption.gumC{
    color: white;
    font-size: 7vw;
    margin-left: 22%;
    margin-top: 20%
}

h1.larryH{
    
    color: white;
    font-size: 11vw;
    margin-left: 13%;
    margin-top: 28%;

}
figcaption.larryC{
    color: white;
    font-size: 7vw;
    margin-left: 24%;
    margin-top: 20%;

}

div#Illuspic1 img{
        margin-left: 0rem;
        width: 100%;
        height: 107vw;
    

 }

div#Illuspic2 img{
    margin-left: 0rem;
    height: 123vw;
    width: 100%;
 }

   /* Mobile Menu*/
   #menu{
	width: 6vw;
    margin-left: 88%;
    margin-top: 7%;
    position: fixed;
    
}
.bar{
	height: 5px;
	width: 100%;
	background-color: white;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}

.Mobilenav li a{
	color:white;
    text-decoration: none;
    border-radius: 10px;
    
}

.Mobilenav li a:hover{
    background-color: #f808c9f3;
     }

.Mobilenav li{
	list-style: none;
	padding: 12vw 0;
}

.Mobilenav{
	transition: 0.3s ease;
    position: fixed;
    margin-left: 81%;
    margin-top: 15%;
    background-color: black;
    width: 19vw;
    height: 146vw;
    text-align: center;
    border-radius: 10px;
}

.change .bar{
	background-color: red;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}

/* Blog Pages responsive*/

section.Blog1P{
    
    margin-top: 2%;
    margin-left: 4%;
    width: 93vw;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    height: initial;
    
}

section.Blog2P{
    
    margin-top: 2%;
    margin-left: 4%;
    width: 93vw;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    height: initial;
      
  }
 section.Blog3P{
    
    margin-top: 2%;
    margin-left: 4%;
    width: 93vw;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    height: initial;
      
  }

  section.Blog4P{
    
    margin-top: 2%;
    margin-left: 4%;
    width: 93vw;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    height: initial;;
      
  }
  section.Blog5P{
    
    margin-top: 2%;
    margin-left: 4%;
    width: 93vw;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    height: initial;
      
  }
  section.Blog6P{
    
    margin-top: 2%;
    margin-left: 4%;
    width: 93vw;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    height: initial;
      
  }
  .mBlogP{
    
        margin-left: 10%;
        width: 92vw;
        height: inherit;
        flex-direction: column;
    
}
.mBlogP li{
    margin-top: -6%;
}

.mBlogP a{
    display: block;
    background-color: #f808c9f3;
    font-size: 5.5vw;
    color: white;
    text-align: center;
    padding: 5vw 0vw;
    text-decoration: none;
    border-radius: 68px;
    width: 86%;
    height: 4rem;
    margin-top: 2%;
}

.mBlogH{

    color: rgb(255, 255, 255);
    margin-top: 20%;
    margin-left:-13%;
    font-size: 9vw;
    text-align: center;

}






  section.ratiP{
    
    margin-top: 20%;
    margin-left: 4%;
    width: 93vw;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    height: initial;
      
  }

 h1.blog1H {
    color: rgb(255, 255, 255);
    margin-top: 19%;
    font-size: 6vw;
    text-align: center;
}

p.blog1Pa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 3.5vw;

}

h2.blog1H2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}

h1.blog2H{
    color: rgb(255, 255, 255);
    margin-top: 19%;
    font-size: 6vw;
    text-align: center;
}

p.blog2Pa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 3.5vw;
}

h2.blog2H2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}


h1.blog3H{
    color: rgb(255, 255, 255);
    margin-top: 19%;
    font-size: 6vw;
    text-align: center;
}

p.blog3Pa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 3.5vw;
}

h2.blog3H2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}

h1.blog4H{
    color: rgb(255, 255, 255);
    margin-top: 19%;
    font-size: 6vw;
    text-align: center;
}

p.blog4Pa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 3.5vw;
}

h2.blog4H2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}

h1.blog5H{
    color: rgb(255, 255, 255);
    margin-top: 19%;
    font-size: 6vw;
    text-align: center;
}

p.blog5Pa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 3.5vw;
}

h2.blog5H2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}
h1.blog6H{
    color: rgb(255, 255, 255);
    margin-top: 19%;
    font-size: 6vw;
    text-align: center;
}

p.blog6Pa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 3.5vw;
}

h2.blog6H2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}


h1.ratiH{
    color: rgb(255, 255, 255);
    margin-top: 19%;
    font-size: 6vw;
    text-align: center;
}

p.ratiPa {
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 3.5vw;
}

h2.ratiH2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}
h1.ratiH{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 6vw;
    text-align: center;
}

p.ratiPa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 3.5vw;
}

h2.ratiH2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}

/*Wire Frame and Style guide*/
.wFramePics{

    width: 100%;
    height: initial;
    display: block;
}
.wFramePics img{
    width: 80vw;
    margin-top: 2%;
    margin-left: 9%;
}
.wFramePics h1{
    color: white;
    font-size: 6vw;
    text-align: center;
    margin-top: 4%;
}


}
    /* //End of Media query 1//*/


 .home {
    background: radial-gradient( #641468, black);
}
.threeD {
    background: radial-gradient( #641468,  black);
}
.twoD {
    background: radial-gradient( #641468,  black);
}
.illustration {
    background: radial-gradient( #641468, black);
}

.about {
    background: radial-gradient( #641468, black);
}

.threeDContent{
    background: radial-gradient( #641468,black);
}
.twoDContent{
    background: radial-gradient(#641468,black);
}
.IllusContent{
    background: radial-gradient( #641468,  black);
 
}

.Blog1{
    background: radial-gradient(#641468,black);
}
.Blog2{
    background: radial-gradient(#641468,black);
}

.Blog3{
    background: radial-gradient(#641468,black);
}
.Blog4{
    background: radial-gradient(#641468,black);
}
.Blog5{
    background: radial-gradient(#641468,black);
}
.Blog6{
    background: radial-gradient(#641468,black);
}

.mBlog{
    background: radial-gradient(#641468,black);
}

.Rati{
    background: radial-gradient(#641468,black);
}
.wFrame{
    background: radial-gradient(#641468,black);
}

.homeP{
    margin-top: 10%;
    margin-left: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    background-color: #f7981f;
}

 .threeDP{
    margin-top: 5%;
    margin-left: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    background-color: #0012ff;
  
}
.twoDP{
    margin-top: 5%;
    margin-left: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    background-color: #b50000;

}
.illustrationP{
    margin-top: 5%;
    margin-left: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    background-color: #109b00;
    
}
.aboutP{
    
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 40vw;
    background-color:#ff3dbe;
    margin-top: 10%;
    margin-left: 4%;
    
    
}

.Blog1P{
    
    margin-top: 6%;
    margin-left: 12%;
    width: 76vw;
    height: inherit;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    
}

.Blog2P{
    
    margin-top: 6%;
    margin-left: 12%;
    width: 76vw;
    height: inherit;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
      
  }
  .Blog3P{
    
    margin-top: 6%;
    margin-left: 12%;
    width: 76vw;
    height: inherit;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
      
  }

  .Blog4P{
    
    margin-top: 6%;
    margin-left: 12%;
    width: 76vw;
    height: inherit;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
      
  }
  .Blog5P{
    
    margin-top: 6%;
    margin-left: 12%;
    width: 76vw;
    height: inherit;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
      
  }
  .Blog6P{
    
    margin-top: 6%;
    margin-left: 12%;
    width: 76vw;
    height: inherit;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
      
  }


  .ratiP{
    
    margin-top: 6%;
    margin-left: 12%;
    width: 76vw;
    height: inherit;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
      
  }

  /* //PAGE HEADINGS CSS//*/

.homeP h1{
 
    color: white;
    font-size: 9vw;

}
.threeDP h1{

    color: white;
    font-size: 9vw;
    margin-top: -115%;

   
}
.twoDP h1{
   
    color: white;
    font-size: 9vw;
    margin-top: -92%;
}
.illustrationP h1{

    color: white;
    font-size: 9vw;
    margin-top: -115%;
}
.aboutP h1{
    
    color: white;
    font-size: 6vw;
    margin-top: -149%;
}

/* //HEADER PAGE IMAGES CSS//*/

.threeDP img{

    width: 110%;
    height: 110%;
}
.twoDP img{

    width: 100%;
    height: 100%;
}
.illustrationP img{

    width: 110%;
    height: 110%;
}
.aboutP img{
    
    width: 100%;
  
}
/* //PAGE CONTENT CSS//*/

/*3D text*/
.threeDVid video{
    margin-top: 3%;
    margin-left: 20%;
    width: 67vw;
    border-radius: 67px;

}
.chucksH{
    color: white;
    font-size: 5vw;
    margin-left: 48%;
}
.chucksC{
    color: white;
    font-size: 2vw;
    margin-left: 58%;
    margin-top: 3%;
}

.BuggH{
    color: white;
    font-size: 5vw;
    margin-left: 57%;
    margin-top: 1%;
}
.buggC{
    color: white;
    font-size: 2vw;
    margin-left: 62%;
    margin-top: 3%;
}
.wapH{
    color: white;
    font-size: 5vw;
    margin-left: 62%;
    margin-top: 1%;
}
.wapC{
    color: white;
    font-size: 2vw;
    margin-left: 61%;
    margin-top: 3%;
}


/*2D text*/
.twoDVid video{
    margin-top: 3%;
    margin-left: 28%;
    width: 65vw;
    border-radius: 67px;
}

.gumH{
    color: white;
    font-size: 5vw;
    margin-left: 58%;
    margin-top: 1%;
}
.gumC{
    color: white;
    font-size: 2vw;
    margin-left: 62%;
    margin-top: 3%
}

.larryH{
    
    color: white;
    font-size: 5vw;
    margin-left: 50%;
    margin-top: 1%;

}
.larryC{
    color: white;
    font-size: 2vw;
    margin-left: 65%;
    margin-top: 3%;

}


/*Illustration*/

#Illuspic1 img{
    width: 39vw;
    height: 59vw;
    margin-left: 3rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
}
#Illuspic2 img{
    margin-left: 7rem;
    height: 59vw;
    width: 45vw;
    margin-top: 4rem;

}

/* //BLOG PAGES content CSS//*/
.blog1H{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}

.blog1Pa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 1.5vw;
    line-height: 1.5;

}

.blog1H2{
  color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 2vw;
    text-align: center;
}
.blog2H{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}

.blog2Pa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 1.5vw;
    line-height: 1.5;
}

.blog2H2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 2vw;
    text-align: center;
}
.blog3H{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}

.blog3Pa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 1.5vw;
    line-height: 1.5;
}

.blog3H2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 2vw;
    text-align: center;
}
.blog4H{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}

.blog4Pa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 1.5vw;
    line-height: 1.5;
}

.blog4H2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 2vw;
    text-align: center;
}
.blog5H{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}

.blog5Pa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 1.5vw;
    line-height: 1.5;
}

.blog5H2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 2vw;
    text-align: center;
}

.blog6H{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}

.blog6Pa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 1.5vw;
    line-height: 1.5;
}

.blog6H2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 2vw;
    text-align: center;
}





.ratiH{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 4vw;
    text-align: center;
}

.ratiPa{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1% 1% 1% 1%;
    font-size: 1.5vw;
    line-height: 1.5;
}

.ratiH2{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-size: 2vw;
    text-align: center;
}

.wFramePics{
margin-top:15% ;
    width: 100%;
    height: initial;
    display: block;
}
.wFramePics img{
    width: 80vw;
    margin-top: 2%;
    margin-left: 9%;
}
.wFramePics h1{
    color: white;
    font-size: 4vw;
    text-align: center;
    margin-top: 2%;
}

