*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    max-width:auto;
}
body{
    background-image:radial-gradient(rgb(228, 215, 215),purple) ;
}

/*header{
    background-image: url(../Assets/Images/purrple.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}*/

nav{
    width: 100%;
    height: 50px;
    margin: auto;
    background-color:rgba(0, 0, 0, 0.884);
    box-shadow: 0px 3.5px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    
}
nav a{
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
}

nav img{
    float: left;
    width: 300px;
    height:300px;
   position: absolute;
   margin-top: -115px;

}
.dropdown {
    float:right;
    overflow: hidden;
}

.dropdown .dropbtn { 
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 60px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  nav a:hover, .dropdown:hover .dropbtn{
    background-color:pink;
    
 }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f7adfff3;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: Left;
      }
      .dropdown-content a:hover {
        background-color: rgba(242, 2, 250, 0.144);
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
/*nav {
    display: inline-block;
    padding: 5px 30px;
}

 nav a{
    text-decoration: none;
    color: white;
    padding: 18px;
    transition: 0.6s ease;
}*/



  

/*.main{
    max-width: 1000px;
    margin: auto;
    //i used this for section
     display: flex;
     justify-content: center;
     align-items: center;//
}*/

 section{
     min-height:100%;
     justify-content: center;
     display: flex;
     
 }
 .home {
    background: radial-gradient( #c42222, black);
}
.threeD {
    background: radial-gradient( #55c422,  black);
}
.twoD {
    background: radial-gradient( #2d22c4,  black);
}
.illustration {
    background: radial-gradient( orange, black);
}

.about {
    background: radial-gradient( #c42222, black);
}

.threeDContent{
    background: radial-gradient( #55c422,black);
}
.twoDContent{
    background: radial-gradient(#2d22c4 ,black);
}
.IllusContent{
    background: radial-gradient( orange,  black);
 
}
.Blog1{
    background: radial-gradient( rgb(102, 0, 122),black);
}
.Blog2{
    background: radial-gradient( rgb(102, 0, 122),black);
}
.Blog3{
    background: radial-gradient(rgb(102, 0, 122),black);
}

.homeP{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: green;
}

 .threeDP{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: red;
  
}
.twoDP{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: orange;

}
.illustrationP{
  margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: blue;
    
}
.aboutP{
    
   float: right;
    width: 500px;
    height: 600px;
    background-color:green;
    position: absolute;
    top: 1050%;
    left:20%;
    transform: translate(-50%,-50%);
}

.Blog1P{
    
  margin-top: 5%;
  width: 1024px;
  height:   1360px;
  background-color: black;
  border-radius: 10px;
  flex-direction: column;
    
}

.Blog2P{
    
    margin-top: 5%;
    width: 1024px;
    height:   964px;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
      
  }
  .Blog3P{
    
    margin-top: 5%;
    width: 1024px;
    height:   900px;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
      
  }


.homeP h1{
 
    color: rgba(255, 162, 255, 0.479);
    font-size: 50px;
    top: 45%;
    left: 34%;
}

.threeDP h1{

    color: rgba(255, 162, 255, 0.479);
    font-size: 70px;
    margin-top: -115%;

   
}

.twoDP h1{
   
    color: rgba(255, 162, 255, 0.479);
    font-size: 70px;
    margin-top: -115%;
}
.illustrationP h1{

    color: rgba(255, 162, 255, 0.479);
    font-size: 70px;
    margin-top: -115%;
}
.aboutP h1{
    
    color: rgba(255, 162, 255, 0.479);
    font-size: 50px;
    margin-top: -13%;
}

.threeDP img{

    width: 110%;
    height: 110%;
}
.twoDP img{

    width: 100%;
    height: 100%;
}
.illustrationP img{

    width: 110%;
    height: 110%;
}
.aboutP img{
    float: right;
    width: 100%;
    height: 100%;
    bottom: 5%;
}
.threeDVid video{
    margin-top: 35%;
    margin-left: -22%;
    

}

.threeDvidcap{
margin-top: 30%;
margin-left:20%;
}
.twoDVid video{
    margin-top: 35%;
    margin-left: -22%;
}

.twoDvidcap{

margin-top: 30%;
margin-left:20%;
}

#Illuspic1 img{
    float: right;
    height: 100%;
    margin-left: 10vh;
    

}
#Illuspic2 img{
    float: left;
    margin-left: 17vh;
    height: 100%;

}
.Blog1P h1{
    color: rgb(255, 255, 255);
   margin-top: 1%;
    font-size: 50px;
    text-align: center;
}

.Blog1P p{
    color: rgb(255, 255, 255);
  text-align: justify;
  margin: 1% 1% 1% 1%;
  font-size: 18px;
}

.Blog1P h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}
.Blog2P h1{
    color: rgb(255, 255, 255);
   margin-top: 1%;
    font-size: 50px;
    text-align: center;
}

.Blog2P p{
    color: rgb(255, 255, 255);
  text-align: justify;
  margin: 1% 1% 1% 1%;
  font-size: 18px;
}

.Blog2P h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}
.Blog3P h1{
    color: rgb(255, 255, 255);
   margin-top: 1%;
    font-size: 50px;
    text-align: center;
}

.Blog3P p{
    color: rgb(255, 255, 255);
  text-align: justify;
  margin: 1% 1% 1% 1%;
  font-size: 18px;
}

.Blog3P h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}